@tailwind base;
@tailwind components;
@tailwind utilities;

.maincol {
  @apply max-w-screen-xl mx-auto px-10;
}
body {
  @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
}
h1 {
  @apply font-semibold;
}

.link {
  position: relative;
  overflow: hidden;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}

h1 {
  font-size: 40px;
}