@tailwind base;
@tailwind components;
@tailwind utilities;

.maincol {
  @apply max-w-screen-2xl mx-auto px-10;
}
body {
  @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
}
h1 {
  @apply font-semibold;
}

.link {
  position: relative;
  overflow: hidden;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}

.link:hover::after {
  width: 100%;
}

h1 {
  font-size: 40px;
}

.translate-enter {
  transform: translateY(40px);
  opacity: 0;
}

.cursor-trail-line {
  position: absolute;
  background-color: purple;
  transform-origin: 0% 50%;
  pointer-events: none;
  animation: fadeOutTrailLine 1s forwards;
}

@keyframes fadeOutTrailLine {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotateY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


/* styles.css */
.icon-react {
  color: #61dafb;
}

.icon-javascript {
  color: #f7df1e;
}

.icon-typescript {
  color: #3178c6;
}

.icon-nextjs {
  color: #000000;
}

.icon-tailwindcss {
  color: #38b2ac;
}

.icon-prisma {
  color: #0c344b;
}
